#mapdiv {
  position: absolute;
  top: 40px;
  width: 100%;
  background: url('/static/img/loading.gif') no-repeat center center;
}

#mapdiv img {
  max-width: none;
}

.olControlAttribution olControlNoSelect {
  bottom: 0px !important;
}

.nav-list {
  z-index: 99999;
}

#pop { z-index: 99998 !important; }
#pop_close { display: none; }
